PORT=3000
DATABASE_URL=postgresql://postgres:1234@localhost:5432/booking_db
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=super-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=7d
SWAGGER_PATH=docs
